.header.navbar.navbar-light#home-page-header
  .dropdown.custom-nav
    .navbar-header
      .row
        .col-md-3.text-left
          a(href="/"+user.role+"/"+user.identifier)
            .logo-img
              img(src="/images/Logo-MaintPro-trans.png", style="width:20%;")
        .col-md-3
        .col-md-6.text-right(style="padding-top:1em;")
          if user && Object.keys(user).length == 0
            a.top-nav(href="/about") Nosotros
            a.top-nav(href="/services") Services
            a.top-nav(href="/contact") Contacto
            a.home-login.btn-go.btn-sm(href="/login" style="margin-right:1em;") Inicio de sesión
          else
            a(href="/#{user.role}/#{user.identifier}" )
              span.userName #{user.name}
            a.home-login.btn.btn-go.btn-sm(href="/logout") Cerrar sesión
