doctype html
html
  head
    title= title
       
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", rel="stylesheet", type="text/css", integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")    
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic", rel="stylesheet", type="text/css")
    link(href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css", rel="stylesheet", type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css", rel="stylesheet", type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.standalone.min.css", rel="stylesheet", type="text/css")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.css", rel="stylesheet", type="text/css")
    
    script(src="https://code.jquery.com/jquery-3.1.1.min.js", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/styles/metro/notify-metro.min.js")
    
    link(href="/stylesheets/style.css", rel="stylesheet", type="text/css") 
    link(href="/stylesheets/profile.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/equipment.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/tasks.css", rel="stylesheet", type="text/css")
    link#style_components(href="/stylesheets/components-rounded.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/plugins.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/layout.css", rel="stylesheet", type="text/css")
    link#style_color(href="/stylesheets/default.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/custom.css", rel="stylesheet", type="text/css")
    
    script(src="/javascripts/flot/jquery.flot.js")
  body    
    block content-mpro
    