extends ../../layout
block content-mpro
  include ../../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/activities")
              h5 Actividades
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/companies")
              h5 Empresas
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/users")
              h5 Usuarios
          .col-md-3
            a(href="/" + user.role + "/" + user.identifier + "/equipments")
              h5 Equipos
        #tabcontent
  script(src='../../javascripts/dashboard/main.js')