body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height:100%;
  margin:0;
  word-wrap: break-word; 
}

.pagefooter{
  bottom: 0;
}

a.top-nav {
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-go {
  background-color: #387ebf;
  color:#ffffff;
}

.mpro-definition{
  padding: 5px;
}

.login-content {
  padding-top: 10%;
  padding-bottom: 60px;
    width: 100%;
  height:100%;
  background-color: #eaeaea;

}

.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-login .form-login-heading,
.form-sigloginnin .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.userName {
  margin-right: 2%
}

.nav-active {
  text-decoration: underline;
  color:#000;
}

.dashboard-nav-row {
    background-color: #eaeaea;
    padding: 0.8% 0;
    vertical-align: middle;
    margin-bottom: 0.2%;
}

.company-nav-row,
.equipment-nav-row,
.manageActivity-nav-row,
.manageActivityModal-nav-row {
  padding: 0.8% 0;
    vertical-align: middle;
    margin-bottom: 0.2%;
}

.company-nav-row ul,
.equipment-nav-row ul,
.manageActivity-nav-row ul,
.manageActivityModal-nav-row ul {
  width: 100%;
};

.information-company {
  display: inline-block;
}

.item-deleted {
  background-color: rgba(158, 158, 158, .5);
}

/* Notify.js */
body .notifyjs-wrapper {
  z-index: 2 !important;
 }

.avatar {
  margin-top: 1em;
  margin-right: 1em;
  width: 7%;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 3px #999, 0 1px 2px 1px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 3px #999, 0 1px 2px 1px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 3px #999, 0 1px 2px 1px rgba(0,0,0,.2);
}

#headerNav a{
  font-size:25px;
  cursor:pointer;
}

#headerNav a:hover{
  color: #504D4D;
}

#tabcontent{
  margin:5px;
}
