extends ../layout
block content-mpro
	include ../partials/header.pug
	.container-fluid
		.row
			.col-md-12
				.row
					.col-md-4
						canvas#homeimage
						form(role='form', id="imagecompany" action="/add-comany-image", method="post", enctype="multipart/form-data")
                            .form-group
                                label.btn.btn-block.btn-file#buttonaddcomapnyimage
                                    h4 Actualizar imagen
                                    input(type="file", name="picture", style="display:none;")
                            br
					.col-md-8
						form(role="form")
                .row
                    .col-md-12
                        table#branchcompanies
                            thead
                                th #
                            tbody
                                td=1