doctype html
html
  head
    title= title
    link(href="/vendor/stylesheets/bootstrap.css", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic", rel="stylesheet", type="text/css")
    link(href="/vendor/stylesheets/font-awesome.css", rel="stylesheet", type="text/css")
    link(href="/vendor/stylesheets/bootstrap-datepicker3.css", rel="stylesheet", type="text/css")
    link(href="/vendor/stylesheets/bootstrap-datepicker3.standalone.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/custom.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/equipment.css", rel="stylesheet", type="text/css")
    script(src="/vendor/javascripts/jquery.js")
    script(src="/vendor/javascripts/tether.js", integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
    script(src="/vendor/javascripts/bootstrap.js", integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn", crossorigin="anonymous")
    script(src="/vendor/javascripts/jquery-ui.js")
    script(src="/vendor/javascripts/underscore.js")
    script(src="/vendor/javascripts/bootstrap-datepicker.js")
    script(src="/vendor/javascripts/bootstrap-datepicker.es.js")
    script(src="/vendor/javascripts/moment.js")
    script(src="/vendor/javascripts/notify.js")
    script(src="/vendor/javascripts/notify-metro.js")
    script(src="/vendor/javascripts/jquery.datatable.js")
  body    
    block content-mpro
    