extends ../layout
block content-mpro
  include ../partials/header.pug
  .container-fluid
    .row
      .col-md-12
        .row.dashboard-nav-row
          .col-md-4.nav-active
            a(href="/"+user.role+"/"+user.identifier)
              h5 Actividad
          if user.role=="admin"||user.role=="admin_company"
            .col-md-4
              a(href="/"+user.role+"/"+user.identifier+"/company")
                h5 Empresa
          if user.role!="technical"
            .col-md-4
              a(href="/"+user.role+"/"+user.identifier+"/users")
                h5 Usuarios
        #tabcontent
  script(type="text/javascript").
    $(document).ready(function () {
      if ('!{Object.keys(user).length > 0}' === 'true' && '!{user.username}' === '!{currentAccount.username}') {				
        var action = '/admin/!{currentAccount.identifier}/admin-activity-block';

        $.get(action, function (response) {
          $('#tabcontent').html(response);
        });
      }
    });